<li class="separator acl-write"></li>
<li class="acl-write font-size-icon ep_font_size">
  <a title="Font Size">
    <span class="buttonicon"></span>
  </a>
</li>
<li id="font-size" class="acl-write" style="display:none;">
    <select class="size-selection">
        <option value="dummy" selected data-l10n-id="ep_font_size.size">Size</option>
        <option value="0">8</option>
        <option value="1">9</option>
        <option value="2">10</option>
        <option value="3">11</option>
        <option value="4">12</option>
        <option value="5">13</option>
        <option value="6">14</option>
        <option value="7">15</option>
        <option value="8">16</option>
        <option value="9">17</option>
        <option value="10">18</option>
        <option value="11">19</option>
        <option value="12">20</option>
    </select>
</li>

<style>
ep_font_size {
  font-size:font-awesome;
}
.ep_font_size > a > .buttonicon:before{
  content:"\e81f";
  top: 2px !important;
}
</style>
