<li class="separator acl-write"></li>
<li id="font-size" class="acl-write">
    <select class="size-selection">
        <option value="dummy" selected data-l10n-id="ep_font_size.size">Font Size</option>
        <option value="0">8</option>
        <option value="1">9</option>
    </select>
</li>

<style>
.ep_font_size {
  font-family:font-awesome;
}
</style>
