<li class="separator acl-write"></li>
<li class="acl-write font-size-icon">
  <a title="Font Size">
    <span class="buttonicon" style="background-image:url('../static/plugins/ep_font_size/static/img/icon.png');"></span>
  </a>
</li>
<li id="font-size" class="acl-write" style="display:none;">
    <select class="size-selection">
        <option value="dummy" selected data-l10n-id="ep_font_sizes.size">Size</option>
        <option value="0">8</option>
        <option value="1">9</option>
        <option value="2">10</option>
        <option value="3">11</option>
        <option value="4">12</option>
        <option value="5">13</option>
        <option value="6">14</option>
        <option value="7">15</option>
        <option value="8">16</option>
        <option value="9">17</option>
        <option value="10">18</option>
        <option value="11">19</option>
        <option value="12">20</option>
    </select>
</li>
