<hr>
<li><a href="#" data-key="align" class="font_size">Font size</a>
  <ul class="submenu">
    <select class="size-selection">
        <option value="dummy" selected data-l10n-id="ep_font_size.size">size</option>
        <!--
        <option value="0" data-l10n-id="ep_font_size.black">black</option>
        <option value="1" data-l10n-id="ep_font_size.red">red</option>
        <option value="2" data-l10n-id="ep_font_size.green">green</option>
        <option value="3" data-l10n-id="ep_font_size.blue">blue</option>
        <option value="4" data-l10n-id="ep_font_size.yellow">yellow</option>
        <option value="5" data-l10n-id="ep_font_size.orange">orange</option>
        -->
        <option value="0" data-l10n-id="ep_font_size.8">8</option>
        <option value="1" data-l10n-id="ep_font_size.9">9</option>
    </select>
  </ul>
</li>
