<hr>
<li><a href="#" data-key="align" class="font_size">Font size</a>
  <ul class="submenu">
    <select class="size-selection">
        <option value="dummy" selected data-l10n-id="ep_font_size.size">Font Size</option>
        <option value="0">8</option>
        <option value="1">9</option>
    </select>
  </ul>
</li>
